.doc-preview {
  display: grid;
  aspect-ratio: 1 / 1.41;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr 3fr 1fr repeat(5, 3fr) 4fr;
  color: black;
  background-color: white;
  text-align: start;
  padding: 16px 32px;
  font-size: 0.9rem;
  min-width: 38rem;
}

.header {
  display: flex;
  align-items: center;
  grid-column: 1 / 3;
  gap: 0.75rem;
  border-bottom: 2px solid black;
  margin-bottom: 16px;
}

.doc-logo {
  display: inline;
  width: 5em;
}

.doc-preview p {
  display: inline;
  grid-column: 1 / 3;
  width: 68ch;
}

.doc-preview h3 {
  margin: 0;
  align-self: self-end;
  grid-column: 1 / 3;
  border-bottom: 1px solid black;
}

.doc-preview h3:last-of-type {
  margin-bottom: 18px;
}

.doc-preview ul {
  width: 100%;
  grid-column: 1/ 3;
  padding-inline-start: 20px;
  margin-top: 0.5em;
}

.doc-preview small {
  margin-left: 2ch;
  font-size: 0.7em;
  text-align: end;
}

.doc-preview small::before {
  content: "- ";
}

.docname {
  font-weight: 500;
  font-size: 1em;
  width: fit-content;
}

#docfield-address {
  margin-top: 12px;
  font-weight: 600;
}
#docfield-address + p {
  margin-left: 1ch;
  font-size: 0.8rem;
}

@media screen and (orientation: portrait) {
  .doc-preview {
    padding: 8px 16px;
    font-size: 0.5rem;
    min-width: unset;
  }
}

@media print {
  body {
    size: A4;
  }
}
