#root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12rem;
  width: 90%;
  text-align: center;
  transition: gap 100ms linear;
}

@media screen and (max-width: 1220px) {
  #root {
    gap: 4rem;
  }
}

.preview-container {
  padding: 1.5rem;
}

@media screen and (orientation: portrait) {
  #root {
    flex-direction: column-reverse;
    justify-content: start;
    gap: 0;
    width: 100vw;
  }

  .preview-container {
    flex: 0 0 auto;
    max-height: 50vh;
    overflow-y: scroll;
    padding: 8px;
  }
}
